.emoji-picker {
	font-size: 1.5em;
	position: relative;
	margin: auto;
}

.emoji-picker .container {
	border-radius: 0 5px;
	background-color: #eee;
	gap: 5px;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "search search search search search search";
	grid-auto-flow: row;
	width: min-content;
	min-width: 200px;
	max-height: 200px;
	overflow-y: scroll;
	opacity: 1;
	transition: all ease-in-out 200ms;
}

.emoji-picker input.search {
	grid-area: search;
	border-radius: 2em;
	outline: none;
	border: none;
	padding: 5px 15px;
	background-color: #ddd;
	color: #666;
	position: sticky;
	top: 0px;
}

.emoji-picker input.search:hover {
	outline: none;
	border: none;
	box-shadow: none;
}

.emoji-picker .emoji {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-stretch: expanded;
	user-select: none;
	cursor: pointer;
}

.emoji-picker .emoji:hover,
.emoji-picker .emoji.selected {
	background-color: #aaa;
}
