.emoji-picker {
	font-size: 1.5em;
	position: relative;
}

.emoji-picker .select {
	font-size: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 5px;
	color: #999;
	height: min-content !important;
}

.emoji-picker .caret {
	font-size: small;
}

.emoji-picker .container {
	border-radius: 5px;
	background-color: #eee;
	gap: 5px;
	padding: 5px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr;
	width: min-content;
	max-height: 200px;
	overflow-y: scroll;
	opacity: 1;
	transition: all ease-in-out 200ms;
	position: absolute;
}

.emoji-picker .container.hidden {
	opacity: 0;
	max-height: 0px;
	pointer-events: none;
}

.emoji-picker .emoji {
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-stretch: expanded;
	user-select: none;
	cursor: pointer;
}

.emoji-picker .emoji:hover {
	background-color: #aaa;
}
