@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap%27');

body {
     background: #222;
     font-family: 'Open Sans', sans-serif;
}
button:not(:disabled) { cursor: pointer; }

#container {
    display: block;
    background: white;
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    border: 20px solid;
    border-image: repeating-linear-gradient(45deg,#be4c4c,#be4040 10px,#9c2e2e 10px,#9e2d2d 20px) 20;

}
#container > canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
}



/* #region controls */
#controls {
    margin-top: 1em;
    justify-content: center;
    align-items: flex-end;
    column-gap: 1em;
}

#controls > div {
    display: flex;
    flex-direction: column;
}
#controls > div > label {
    color: white;
    text-align: center;
}

#controls input {
    height: 2em;
    margin: 2px;
}

#emoji { width: 4em; }
#size { width: 6em; }

/* #region buttons */
#controls button {
    border: none;
    outline: none;
    border-radius: 0.25em;
    height: 3em;
    margin: 2px;
    user-select: none;
}
@media (hover:hover) {
    #controls button:hover {
        background: #333;
        color: white;
        box-shadow: 0 0 0 3px white;
    }
}
#btnDownload {
    background: #3ea73e;
    font-weight: bold;
    color: white;
    border: 1px solid white;
}
/* #endregion */

#container input {
    position: absolute;
    bottom: 0;
    width: 15em;
}
#horiz {
    left: 1em;
}
#vert {
    left: 0;
    transform-origin: top left;
    transform: rotate(-90deg);
 }
/* #endregion */


#face {
    min-width: 50px;
    min-height: 50px;
    background: black;
}